@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .impony-top::before, .impony-bottom::after { -webkit-transform: scaleY(.67); transform: scaleY(.67); }
    .impony-left::before, .impony-right::after { -webkit-transform: scaleX(.67); transform: scaleX(.67); }  
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .impony-top::before, .impony-bottom::after { -webkit-transform: scaleY(.5); transform: scaleY(.5); }
    .impony-left::before, .impony-right::after { -webkit-transform: scaleX(.5); transform: scaleX(.5); }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .impony-top::before, .impony-bottom::after { -webkit-transform: scaleY(.33); transform: scaleY(.33); }
    .impony-left::before, .impony-right::after { -webkit-transform: scaleX(.33); transform: scaleX(.33); }
}

.impony-1px-border { position: relative; }
    .impony-top::before, .impony-bottom::after, .impony-left::before, .impony-right::after { content: ''; position: absolute; border: 0 solid #ddd; -webkit-transform-origin: 0 0; transform-origin: 0 0; }
        .impony-top::before, .impony-bottom::after { left: 0; right: 0; height: 0; }
        .impony-top::before { top: 0; }
        .impony-left::before, .impony-right::after { top: 0; right: 0; bottom: 0; left: 0; }
        .impony-right::after { -webkit-transform-origin: 100% 0; transform-origin: 100% 0; }

    .impony-top::before { border-top-width: 1px; }
    .impony-bottom::after { bottom: 0; border-bottom-width: 1px; }
    .impony-left::before { border-left-width: 1px; }
    .impony-right::after { border-right-width: 1px; }