@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .border-top-1px::before, .border-bottom-1px::after { -webkit-transform: scaleY(.67); transform: scaleY(.67); }
    .border-left-1px::before, .border-right-1px::after { -webkit-transform: scaleX(.67); transform: scaleX(.67); }  
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border-top-1px::before, .border-bottom-1px::after { -webkit-transform: scaleY(.5); transform: scaleY(.5); }
    .border-left-1px::before, .border-right-1px::after { -webkit-transform: scaleX(.5); transform: scaleX(.5); }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-top-1px::before, .border-bottom-1px::after { -webkit-transform: scaleY(.33); transform: scaleY(.33); }
    .border-left-1px::before, .border-right-1px::after { -webkit-transform: scaleX(.33); transform: scaleX(.33); }
}

.border-top-1px, .border-right-1px, .border-bottom-1px, .border-left-1px { position: relative; }
    .border-top-1px::before, .border-bottom-1px::after, .border-left-1px::before, .border-right-1px::after { content: ''; position: absolute; border: 0 solid #ddd; -webkit-transform-origin: 0 0; transform-origin: 0 0; }
        .border-top-1px::before, .border-bottom-1px::after { left: 0; right: 0; height: 0; }
        .border-top-1px::before { top: 0; }
        .border-left-1px::before, .border-right-1px::after { top: 0; right: 0; bottom: 0; left: 0; }
        .border-right-1px::after { -webkit-transform-origin: 100% 0; transform-origin: 100% 0; }

    .border-top-1px::before { border-top-width: 1px; }
    .border-bottom-1px::after { bottom: 0; border-bottom-width: 1px; }
    .border-left-1px::before { border-left-width: 1px; }
    .border-right-1px::after { border-right-width: 1px; }